@font-face{
    font-family: dosis;
    src: url(../fonts/Dosis-VariableFont_wght.ttf); 
}

.dosis-font{
    font-family: 'dosis', sans-serif;
}

.text-color{
    color: #000324;
}


.container1{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 120px;
    background-color: #000324;

}

.textHead{
    text-align: left;
    font-family: 'dosis', sans-serif;
    font-size: 20px;
    color: #ffffff;
    
    
}

.icon1{
    top: 119px;
    width: 100%;
    height: 500px;
}

.logo{
    display: flex;
    background-color: #000324;
    width: 945px;
    height: 232px;
    opacity: 80%;
    justify-content: center;
    position: absolute;
    top: 130px;
    left: 21%;

}

h1{
    font-size: 45px;
    color: #E5FEFF;
    position: absolute;
    top: 59px;
    
}

h5{
    font-size: 25px;
    font-family: 'dosis', sans-serif;
}

p1{
    font-size: 16px;
    color: #E5FEFF;
    position: absolute;
    top: 130px;
}

.container2{
    padding-top: 109px;
    padding-left: 200px;
    padding-bottom: 91px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
}

.icon2{
    
    height: 416px;
    width: 330px;
}

p2{
    font-size: 35px;

}

p3{
    font-size: 16px;
}

p4{
    font-size: 25px;
    font-family: 'dosis', sans-serif;
}



.containerIcon{
    display: flex;
    justify-content: space;
}

.icon3{
    width: 200px;
    height: 153px;
}

.icon4{
    width: 200px;
    height: 193px;
}

.icon5{
    width: 200px;
    height: 175px;
}

.bg-image{
    
    width: 100%;
    height: 738px;
}

.header-dosis{
    font-size: 35px;
    color: #FFFFFF;
}

.container-fluid{
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.top-center{
    position: absolute;
    top: 8px;
    left: 47%;
    
}

.headerB-dosis{
    font-size: 35px;
    color: #000324;
}

.card-fluid{
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: center;
    gap: 15px;
    left: 18%;
    
}

.width{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
}

.btn-primary{
    background-color: #004CC7;
    border-radius: 0;
}

.icon6{
    display: flex;
    width: 100%;
    height: 234px;
}

.text-blue{
    color: #1F51A8;
}











