.container1{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 120px;
    background-color: #000324;

}

.textHead{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #ffffff;
    
    
}

.icon1{
    top: 119px;
    width: 100%;
    height: 500px;
}

.logo{
    display: flex;
    background-color: #000324;
    width: 945px;
    height: 232px;
    opacity: 80%;
    justify-content: center;
    position: absolute;
    top: 260px;
    left: 21%;

}

h1{
    font-size: 45px;
    color: #E5FEFF;
    position: absolute;
    top: 59px;
    
}

p1{
    font-size: 16px;
    color: #E5FEFF;
    position: absolute;
    top: 130px;
}

.container2{
    padding-top: 109px;
    padding-left: 150px;
    padding-bottom: 91px;
}

.icon2{
    
    height: 416px;
    width: 369px;
}

p2{
    font-size: 35px;

}

p3{
    font-size: 16px;
}

.containerIcon{
    display: flex;
    justify-content: space;
}

.icon3{
    width: 200px;
    height: 153px;
}

.icon4{
    width: 200px;
    height: 193px;
}

.icon5{
    width: 200px;
    height: 175px;
}











